SQLALCHEMY_DATABASE_URI='postgresql://fsiti:fsiti@localhost:5432/fsiti'
FIREBASE_DATABASE_URI=''
GOOGLE_APPLICATION_CREDENTIALS='credentials.json'
TG_TOKEN=''
VK_TOKEN=''
VK_VERSION='5.92'
VIBER_TOKEN=''
VIBER_SENDER_NAME='Fsiti bot'
FB_TOKEN='<PAGE_ACCESS_TOKEN>'
FB_VERSION='v4.0'
WEBPUSH_PUBLIC_KEY=''
WEBPUSH_PRIVATE_KEY=''
KARMA_USERNAME = ''
KARMA_PASSWORD = ''
FASTTREK_ONE_CLICK_TOKEN = ''
FASTTREK_DEMO_VIRUS_TOKEN = ''
