[Unit]
Description=AutoSSH tunnel service for workaround telegramblocking
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -NL 5443:api.telegram.org:443 tun-user@193.109.69.190 -p 22 -i /root/.ssh/id_ed25519

[Install]
WantedBy=multi-user.target
