[Unit]
Description=Gunicorn instance to serve fsiti server
#Requires=gunicorn.socket
#After=network.target

[Service]
PIDFile=/run/gunicorn/pid
RuntimeDirectory=gunicorn
User=fsiti
Group=nginx
WorkingDirectory=/srv/fsiti
# Environment="PATH=/srv/fsiti/env"
# ExecStart=/srv/fsiti/env/bin/gunicorn --workers 3 --bind unix:/var/run/fsiti-gunicorn/fsiti_server.sock -m 007 wsgi:connex_app
#ExecStart=/usr/local/bin/pipenv run gunicorn --workers 3 --bind unix:/var/run/fsiti-gunicorn/fsiti_server.sock -m 007 wsgi:connex_app
ExecStart=/usr/local/bin/pipenv run gunicorn --workers 2 --pid /run/gunicorn/pid --bind unix:/run/gunicorn/socket -m 007 wsgi:connex_app

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
